* {
  box-sizing: border-box;
}

body,
button {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.search,
.results {
  height: 50vh;
  text-align: center;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.results {
  display: block;
  overflow: scroll;
}

h2 {
  margin: 0 auto;
  padding: 16px;
}

.search {
  background-color: #2b2a2c;
  color: #e7dbdb;
}

.results,
.button--search,
.book {
  background-color: #e7dbdb;
  color: #2b2a2c;
}

.searchBox form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 16px;
  width: 80%;
}

.searchBox form {
  padding: 16px;
}

.searchBox form input {
  display: block;
  margin: 0 auto;
  padding: 4px;
  width: 80%;
}

button {
  border-radius: 2px;
  border-width: 2px;
  cursor: pointer; 
  font-size: 18px;
  font-weight: bold;
  margin-top: 32px;
  padding: 4px;
  width: 50%;
}

input {
  font-size: 14px;
  text-align: center;
}

.button--search {
  background-color: #414042;
  border-color: #e7dbdb;
  color: #e7dbdb;
}

.book {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin: 25px auto;
}

.book img {
  width: 111px;
  min-height: 148px;
}

.info {
  align-items: flex-start;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  justify-content: space-evenly;
}

.info h4,
.info h5 {
  margin: 0;
  text-align: left;
}

.image-container {
  width: 111px;
  height: 148px;
  float: left;
  margin: 0px 20px 0px 10px;
}

/* style adjustments for tablet and desktop */
@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
  }

  .search, 
  .results {
    height: 100vh;
    width: 50%;
  }
}
