* {
  box-sizing: border-box;
}

body,
button {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.container {
  height: 100vh;
  width: 100%;
}

.search,
.results,
.details {
  text-align: center;
}

.search {
  align-items: center;
  background-color: #2b2a2c;
  color: #e7dbdb;
  display: flex;
  flex-direction: column;
  min-height: 25vh;
  justify-content: center;
  text-align: center;
}

.search--initial {
  height: 50vh;
}

.results,
.details {
  display: block;
  height: 75vh;
  overflow: scroll;
  padding: 16px;
}

.search--heading {
  margin: 16px auto;
  /* margin-bottom: 16px; */
  padding: 0;
}

.search--input {
  margin: 8px 0;
  padding: 8px;
  width: 75%;
}

.search--button {
  border-radius: 4px;
  font-size: 20px;
  margin: 16px 0;
  padding: 12px;
  width: 40%;
}

.results,
.search--button,
.book,
.details {
  background-color: #e7dbdb;
  color: #2b2a2c;
}

.searchBox form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 16px;
  width: 80%;
}

.searchBox form {
  padding: 16px;
}

.searchBox form input {
  display: block;
  margin: 0 auto;
  padding: 4px;
  width: 80%;
}

button {
  border-radius: 2px;
  border-width: 2px;
  cursor: pointer; 
  font-size: 18px;
  font-weight: bold;
  margin-top: 32px;
  padding: 4px;
  width: 50%;
}

input {
  font-size: 14px;
  text-align: center;
}

.button--search {
  background-color: #414042;
  border-color: #e7dbdb;
  color: #e7dbdb;
}

.book {
  display: flex;
  justify-content: flex-start;
  margin: 25px auto;
  width: 80%;
}

.book img,
.details img {
  width: 111px;
  min-height: 148px;
}

.info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.book img, 
.info {
  cursor: pointer;
}

.info h4,
.info p {
  margin: 0;
  text-align: left;
}

.info h4 {
  margin-bottom: 16px;
}

.info p {
  font-size: 14px;
}

.imageContainer {
  margin: 0px;
  margin-right: 20px;
}

.details {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.detailsHeader {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  margin: 10px;
  margin-top: 36px;
  width: 80%;
}

.detailsHeader__text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.detailsHeader__text * {
  margin: 0;
  margin-bottom: 16px;
}

.detailsHeader__text h2 {
  font-size: 20px;
}

.ratingInfo {
  font-size: 14px;
}

.rating {
  color: #7c4848;
  font-weight: bold;
}

.detailsDescription,
.goodreads {
  margin: 10px;
  text-align: left;
  width: 80%;
}

.goodreads {
  font-weight: bold;
}

a {
  color: unset;
  text-decoration: unset;
}

/* style adjustments for tablet and desktop */
@media screen and (min-width: 800px) {
  .container {
    display: flex 
 }

  .search, 
  .results,
  .details {
    height: 100vh;
    width: 50vw;
  }

  .results {
    padding-top: 36px;
  }

  .book { 
    width: 85%;
  }
}
